@charset "utf-8";
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/mark-pro');
/* font-family : 'Noto sans KR', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Mark-Pro', sans-serif;
 */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}
html{
    font-size: 10px;
}
body {
    position: relative;
    font-family: 'Noto sans KR', sans-serif;
}

.hidden {
    position: absolute;
    margin-left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
/* header,메인메뉴 */ 
header{
    width: 100%;
}
nav{
    width: 100%;
    height: 50px;
    position: relative;
    position: fixed;
    z-index: 999;
    background:rgba(0,0,0,0.1);
    transition: all 0.5s; 
}
nav:hover{
    color: #eee;
    background:#222;
    transition: all 0.5s; 
}
.active{
    color: #eee;
    background-color: #222;
}
nav .nav_list{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
nav .nav_list li{
    width: 25%;
    font-size: 2rem;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    font-family: 'Mark-Pro', sans-serif;
}
nav .nav_list li a:hover{
    color: #add8e6; 
}

nav .nav_list .dropdown{
    position: relative;
}
  
nav .nav_list .dropdown ul {
    position: absolute;
    top: 50px;
    width: 100%;  
    z-index: 1;
    background-color: rgba(0,0,0,0.1);
    display: none;
}
nav .nav_list .dropdown ul li{
    width: 100%;
    text-align: center; 
 }  
nav .nav_list .dropdown ul li a {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 10px;
}
  
nav .nav_list .dropdown:hover > ul {
    display: block;
}
@media (max-width: 900px){
    nav .nav_list{
        width: 100%;
    }
    nav .nav_list li{
        width: 25%;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        font-family: 'Mark-Pro', sans-serif;
    }
}
/* //header, 메인메뉴 */ 
/* main */ 
#fullpage {
    width:100%;
    height:100%;
}
.section{
    background-size: cover;
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
}
/* Intro */
.Intro{
    width: 100%;
    height: auto;
}
.Intro .video_box{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.Intro .video_box video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}
.Intro .text_box{
    width: 80%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px #444;
    line-height: 100px;
    text-align: center;
    color: #fff;
}
.Intro .text_box span{
    color: #add8e6;
}
@media (max-width: 900px) {    
    .Intro .text_box {
        top: 50%;
        font-size: 3.5rem;
        line-height: 60px;
    } 
  }
/* //Intro */

/* profile */
.profile h2{
    font-size: 4.5rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Mark-Pro', sans-serif;
    color: #222;
    margin: 15px auto;
}
.profile_box{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 6%;
    border: 5px solid #1E445B;
    box-shadow: 5px 5px 10px #666;
}

.profile_box .p_left,
.profile_box .p_right{
    width: 50%;
}

.profile_box .p_left a img{
    display: block;
    margin: auto;
    max-width: 200px;
}

.profile_box .p_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}
.profile_box .p_right span{
    color: #1E445B;
    font-weight: 700;
}
.profile_box .p_right .info_box{
    width: 100%;
    text-align: left; 
}
.profile_box .p_right .info_box p{
    font-size: 1.8rem;
    line-height: 30px;
    color: #577C93;
      
}
.profile_box .p_right .info_box .hashtag{
    color: #e0a36a;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}
.profile_box .p_right .info_box .introduce{
    font-size: 2rem;
    text-align: left;
}
.profile_box .p_right .info_box h3,
.profile_box .p_right .skill_box h3{
    font-size: 2rem;
    line-height: 30px;
    font-weight: 700;
    color : #1E445B;
    text-align: center;
    font-family: 'Mark-Pro', sans-serif;
    margin-bottom: 10px;
}

.profile_box .p_right .skill_box{
    width: 100%;
}
.profile_box .p_right .skill_box ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_box .p_right .skill_box ul li{
    width: 50px;
    height: 50px;
    position: relative;
    padding: 5px;
    margin: 5px;
}
.profile_box .p_right .skill_box ul li img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-position: center;
    background-size: contain;
    object-fit: cover; 
}

@media (max-width: 1200px) {
    .profile_box {
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .profile_box .p_left,
    .profile_box .p_right{
        width: 100%;
    }
    .profile_box .p_left a img{
        max-width: 100px;
    }
    .profile_box .p_right .info_box p{
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        margin: 10px 0;
        text-align: center; 
    }
    .profile_box .p_right .info_box .hashtag{
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .profile_box .p_right .info_box .introduce{
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: center;
    }
    .profile_box .p_right .skill_box ul{
        flex-wrap: wrap;
    }
    .profile_box .p_right .skill_box ul li{
        width: 30px;
        height: 30px;
    }
    .profile_box .p_right .skill_box ul li img{
        width: 30px;
        height: 30px;
        padding: 2px;
        margin: 2px;
    }
  }
/* //profile */

/* portfolio */
.portfolio{
    width: 100%;
    position: relative;
}
.portfolio h2{
    font-size: 4.5rem;
    color: #222;
    font-weight: bold;
    font-family: 'Mark-Pro', sans-serif;
    text-align: center;
    margin: 15px auto;
}
.portfolio .portfolio_list{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}
.portfolio .portfolio_list .portfolio_box{
    max-width: 1400px;
    max-height: 600px;
    padding: 20px;
    margin: 20px;
    color: #222;
    background-color: #fff;
    box-shadow: 2px 2px 10px #808080;
}
.portfolio .portfolio_list .Thumbnail img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.portfolio .portfolio_list .portfolio_info>li{
    font-size: 1.6rem;
    line-height: 25px;
}
.portfolio .portfolio_list .portfolio_info>li span{
    font-weight: 700;
}

.portfolio .portfolio_list .portfolio_info .portfolio_link>li{
    font-weight: 700;
    margin: 10px 0;
    color: #808080;
}
.portfolio .portfolio_list .portfolio_info .portfolio_link>li:hover{
    color: #add8e6;
}
@media (max-width: 900px) {
    .portfolio h2{
        font-size: 3rem;
    }
}
/* //portfolio */

/* design */
.design{
    width: 100%;
    position: relative;
}
.design h2{
    font-size: 4.5rem;
    font-weight: bold;
    color: #222;
    font-family: 'Mark-Pro', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.design .design_list{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.design .design_list .design_thumb{
    width: 30%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #808080;
    margin-bottom: 15px;
    display: flex;
}
.design .design_list .design_thumb img{
    width: 100%;
    object-fit: cover;
}
.design .design_list .design_thumb:hover{
    transform: scale(0.95);
    transition: all 0.5s;
}
.popup_bg1, .popup_bg2, .popup_bg3,
.popup_bg4, .popup_bg5, .popup_bg6{
    background: #000000dd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
.popup_bg1 .container,
.popup_bg2 .container,
.popup_bg3 .container,
.popup_bg4 .container,
.popup_bg5 .container,
.popup_bg6 .container {
    position: fixed;
    top: 50px;
    left: 25%;
    width: 100%;
    display: flex;
    flex-flow: column;
}
.popup_bg .container1,
.popup_bg .container2,
.popup_bg .container3,
.popup_bg .container4,
.popup_bg .container5,
.popup_bg .container6{
    max-width: 900px;
}
.popup_bg .container .title_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup_bg .container .title_btn .title {
    color: #fff;
    font-size: 2rem;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.popup_bg .container .title_btn .title span:nth-child(1) {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 20px;
    color: #add8e6;
}
.popup_bg .container .title_btn .close_btn {
    position: fixed;
    right: 25%;
    top: 50px;
    font-size: 2rem;
    color: #fff;
}
.popup_bg .container .img_container {
    width: 100%;
    height: 80vh;
    overflow-y:scroll;
}
.popup_bg .container .img_container img {
    width: 100%;
}
@media (max-width: 900px) {
    .design h2{
        font-size: 3rem;
    }
    .design .design_list .design_thumb{
        width: 30%;
        height: 20vh;
        
    } 
    .design .design_list .design_thumb img{
        width: 100%;
    }
    
    .popup_bg .container1,
    .popup_bg .container2,
    .popup_bg .container3,
    .popup_bg .container4,
    .popup_bg .container5,
    .popup_bg .container6{
        max-width: 50%;
    }
}
/* //design */

/* //main */

/* footer */
footer{
    position: absolute;
    bottom : 0px;
    width: 100%;
    height: 50px;
    background-color: #222;
    color: #eee;
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    font-family: 'Mark-Pro', sans-serif;
}
.fp-watermark{
    display: none;
}
/* //footer */